body.arrive div[id^="arrive-"] {
  width: 100%;
  color: #000; }
body.arrive .fullWidth {
  max-width: 1920px;
  margin: 0 auto 24px; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

#map-canvas {
  height: 100%; }
