body.happening div[id^="happening-"] {
  width: 100%;
  color: #000; }
body.happening .fullWidth {
  max-width: 1920px;
  margin: 0 auto 24px; }

#happening-1 #instafeed .feed-container {
  width: 100%; }
  #happening-1 #instafeed .feed-container ul.feed-list {
    margin-left: 0; }
    #happening-1 #instafeed .feed-container ul.feed-list li.feed-item {
      opacity: 1;
      -webkit-transition: all .5s ease-in;
      transition: all .5s ease-in;
      width: 20%;
      float: left; }
      #happening-1 #instafeed .feed-container ul.feed-list li.feed-item img {
        width: 100%; }
      #happening-1 #instafeed .feed-container ul.feed-list li.feed-item p {
        color: white;
        max-width: 200px; }
    #happening-1 #instafeed .feed-container ul.feed-list li.feed-item.off {
      -webkit-transition: all 1s ease-in;
      transition: all .5s ease-in;
      opacity: 0; }
