/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require royalslider.css
 *= require_self
 *= require_tree .
 */


@font-face {
    font-family: "GoLongRegular";
    src: url("golong-webfont.eot") format("eot"),
         url("golong-webfont.woff") format("woff"),
         url("golong-webfont.ttf") format("truetype"),
         url("golong-webfont.svg") format("svg");
}

@font-face {
    font-family: "Museo";
    src: url("museo300-regular-webfont.eot") format("eot"),
         url("museo300-regular-webfont.woff") format("woff"),
         url("museo300-regular-webfont.ttf") format("truetype"),
         url("museo300-regular-webfont.svg") format("svg");
}
@font-face {
    font-family: "MuseoBold";
    src: url("museo700-regular-webfont.eot") format("eot"),
         url("museo700-regular-webfont.woff") format("woff"),
         url("museo700-regular-webfont.ttf") format("truetype"),
         url("museo700-regular-webfont.svg") format("svg");
}


.brand a img {
  margin-right: 50px;
  margin-left: -50px;
}

.navbar-right {
  padding-right: 25px;
}

ul.footer {
  list-style-type: none;
  padding: 15px 0px;
  margin-left:1em;
}

ul.footer li a {
  color: #777;
  font-family: "GoLongRegular";
}

ul.footer li {
  text-transform: none;
}

.first {
  text-transform: uppercase !important;
}

ul.footer li a:hover {
  color: #333;
  text-decoration: none;
}

li.social {
  padding-top: 15px;
  color: white;
  font-family: "GoLongRegular";
}

#social {
  float:right;
  margin: 20px 25px 0 0;
  text-align: right;
}

#social .social-nav {
  float: none !important;
  padding-right: 0px;
  margin-bottom:5px;
}

#social .social-nav li {
  float: right;
}
#social .social-nav li a {
  padding:0px !important;
}

#social .fineprint {
  margin-top:0px;
  text-align: right;
  line-height: 1.5;
  color:white;
  font-size: 10px;
}
.fineprint a {
  color:white;
  text-decoration: underline;
}
.fineprint img {
  margin-top:5px;
}


.dropdown-menu-item {
  padding: 0;
  margin: 0;
}


.top-mask {
  /* *** For Firefox use mask *** */
  /* *** Note that we use an ID selector here #logo_mask  *** */
  /* *** which is the same as the ID we defined in the SVG mask *** */
  /*mask: url(masks/top.svg#logo_mask);*/
  /* *** For webkit use -webkit-mask-image *** */
  /*-webkit-mask-image: url(masks/top1920x1400.svg);*/
  /*-webkit-mask-box-image: url(masks/top1920x1400.svg);*/
  /*z-index: 999;*/
}

.slider00 .rsOverflow {
  margin-top: 0;
}
.slider01 .rsOverflow {
  margin-top: -70px;
}
.slider02 .rsOverflow {
  margin-top: -140px;
}
.slider03 .rsOverflow {
  margin-top: -210px;
}
.slider04 .rsOverflow {
  margin-top: -280px;
}
.slider05 .rsOverflow {
  margin-top: -350px;
}
.slider06 .rsOverflow {
  margin-top: -420px;
}
.slider07 .rsOverflow {
  margin-top: -490px;
}
.slider08 .rsOverflow {
  margin-top: -560px;
}
.slider09 .rsOverflow {
  margin-top: -730px;
}
.slider10 .rsOverflow {
  margin-top: -810px;
}

/* temporary hardcoded footer margins */
/* set the margin top and padding bottom of each page footer below to the, */
/* margin above... with sliderXX equalling the LAST slider in the assocaited HTML */

body.live .navbar-bottom {margin-top:-230px; padding-bottom: 230px;}
body.harborside .navbar-bottom {margin-top:-490px; padding-bottom: 490px;}
body.happening .navbar-bottom {margin-top:-140px; padding-bottom: 140px;}
body.arrive .navbar-bottom {margin-top:-210px; padding-bottom: 210px;}
body.explore .navbar-bottom {margin-top:-350px; padding-bottom: 350px;}
body.lease .navbar-bottom {margin-top:-810px; padding-bottom: 0px;}



