// Place all the styles related to the explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.explore { 
	// background-color:#000;
	div[id^="explore-"] {
	  width: 100%;
	  color: #000;
	}

	// for the first slider on explore page
	.infoBlock {
	  width: 100%;
	  padding: 120px;
	  color: #FFF;
	}
	.infoBlock h1 {
		font-family: "GoLongRegular"; 
		text-transform: uppercase;
		font-size: 120px;
		margin: 150px 0 0 0;
	  letter-spacing: -2px;
	  font-stretch: condensed;
	  line-height: 1.2;
	  padding-bottom: 3px;
	  text-align: center;
	}
	.infoBlock p {
		font-size: 24px;
		line-height: .9em;
		font-weight: bold;
		margin: 4px 0 0;
		font-family: "Museo";
		text-transform: uppercase;
		padding-bottom: 3px;
		text-align: center;
	}
	.infoBlock a {
	  color: #FFF;
	  text-decoration: underline;
	  text-align: center;
	  width: 100%;
	}

	// second slider on explore page
	.artBlock {
	  position: absolute;
	  margin:0 auto;
	  // background: #FFF;
	  // background: rgba(255, 255, 255, 0.8);
	  overflow: hidden;
	  color: #FFF;
		width: 100%;
		left:200px;
		top:200px;
		max-width: 900px;
	}
	h4 {
	  font-family: "GoLongRegular"; 
	  text-transform: uppercase;
	  font-size: 60px;
	  letter-spacing: -1px;
	  line-height: 1.5em;
	  margin:0px;
	}
			/*type*/
	h4 i {
	    background: url(koBG.png) repeat;
	    padding:10px 10px 0 10px;
	    border:1px solid #fff;
	  }
	.artBlock {
		p {
			margin-left:10px;
		}
		p, ul {
		  font-size: 24px;
		  line-height: 1;
		  font-family: "Museo";
		  text-transform: uppercase;
		  font-weight: bold;
		}
	}
	.artBlock a {
	  color: #28bee8;
	  text-decoration: underline;
	  :hover {
	  	text-decoration: underline;
	  }
	}
	.listingsBlock {
	  margin:20px 0 0 15px;
	  padding: 5px 0px 0px 10px;
	  background: url(koBG.png) repeat;
	  width:500px;
	    border:1px solid #fff;
		p, ul {
		  font-size: 15px;
		  line-height: 1;
		  font-family: "Museo";
		  text-transform: none;
		}
		p {
		  margin:0 0 5px 0;
		}
		ul {
			margin:5px 0 10px 20px;	
		}
	}
	.festivals {
		a {
			text-transform: uppercase;
		}
	}
	.artBlock a {
	  color: #28bee8;
	  text-decoration: underline;
	  :hover {
	  	text-decoration: underline;
	  }
	}
	.peopleBlock {
		width:900px;
	}
	.peopleBlock h4, .peopleBlock p {
		text-align: right;
	}
	.videoBlock {
	  margin:20px auto;
	  padding:0px;
	  background: url(koBG.png) repeat;
	  width:900px;
	    border:1px solid #fff;
		p, ul {
		  font-size: 15px;
		  line-height: 1;
		  font-family: "Museo";
		  text-transform: none;
		}
		p {
		  margin:0 0 5px 0;
		}
	}
	.videoBlockSmall {
		width:442px;
		float: left;
		margin-right:10px;
	}


	.fullWidth {
	  max-width: 1920px;
	  margin: 0 auto 24px;
	}

	.royalSliderTall {
	  margin-top: -40px;
	}

	@media screen and (min-width:960px) and (min-height:660px) {
	  .heroSlider .rsOverflow,
	  .royalSlider.heroSlider {
	      height: 800px !important;
	  }
	  .royalSliderTall {
		height: 1600px !important;
		}
	}

	@media screen and (min-width:960px) and (min-height:1000px) {
	    .heroSlider .rsOverflow,
	    .royalSlider.heroSlider {
	        height: 1000px !important;
	    }
	  .royalSliderTall {
		height: 1600px !important;
		}
	}
	@media screen and (min-width: 0px) and (max-width: 800px) {
	  .royalSlider.heroSlider,
	  .royalSlider.heroSlider .rsOverflow {
	    height: 300px !important;
	  }
	  .infoBlock {
	    padding: 10px;
	    height: auto;
	    max-height: 100%;
	    min-width: 40%;
	    left: 5px;
	    top: 5px;
	    right: auto;
	    font-size: 12px;
	  }
	  .infoBlock h3 {
	     font-size: 14px;
	     line-height: 17px;
	  }
	}
}