<body class="new-plans">
  <div class="plan-form">
<%= simple_form_for (Plan.new), :url => url_for(:action => 'create', :controller => 'lease')  do |f| %>
    <%= f.input :title %>
    <%= f.input :image %>
   

<%= f.submit %>
<% end %>
</div>









</body>