<body class="happening">

	<div id="happening-0" class="royalSlider heroSlider rsMinW slider00">
		<div class="rsContent rsNoDrag" id="Event">
	  		<%= image_tag "full-width/happening-0.jpg", :class=>"rsImg" %>
	  </div>
	</div>
	<div id="happening-1" class="royalSlider heroSlider rsMinW slider01">
		<div class="rsContent rsNoDrag" id="instafeed">
	  		<div class="feed-container">
	  			<ul class="feed-list">

	  			</ul>
	  		</div>
	  </div>
	</div>
	<div id="happening-2" class="royalSlider heroSlider rsMinW slider02">
		<div class="rsContentrs NoDrag" id="Pinterest">
	<!-- <div id="happening-2" class="royalSlider heroSlider rsMinW slider02">
		<div class="rsContentrs NoDrag">
	  		<%= image_tag "full-width/happening-2.jpg", :class=>"rsImg mySelector1" %>
		</div>
	</div>  -->

<iframe src="http://www.pinterest.com/jennisama/be-here-now/"></iframe>

</body>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
	  $('.royalSlider').royalSlider({
	    arrowsNav: true,
	    loop: false,
	    keyboardNavEnabled: true,
	    controlsInside: false,
	    imageScaleMode: 'fill',
	    arrowsNavAutoHide: false,
	    autoScaleSlider: true,
	    autoScaleSliderWidth: 1920,
	    autoScaleSliderHeight: 1400,
		slidesSpacing: 0,
	    controlNavigation: 'bullets',
	    thumbsFitInViewport: false,
	    navigateByClick: true,
	    startSlideId: 0,
	    autoPlay: false,
	    transitionType:'move',
	    globalCaption: false,
	    hasDrag: false,
	    deeplinking: {
	      enabled: true,
	      change: false
	    },
	    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
	    imgWidth: 1920,
	    imgHeight: 1400
	  });

	  function constructor (item){
	  	var el = document.createElement('li')
	  	var img = document.createElement('img')
	  	img.setAttribute('src',item.images.standard_resolution.url)

	  	el.classList.add('feed-item');
	  	el.classList.add('off');
	  	el.appendChild(img);

	  	$('.feed-list').append(el);

	  	setTimeout(function(){
	  		el.classList.remove('off');
	  	},Math.floor((Math.random() * 1000) + 500));
	  }

	  var feed = new Instafeed({

        	get: 'tagged',
        	tagName: 'bikini',
        	resolution: 'low-resolution',
        	clientId: '71d0d1d3306e4fe685254167cd84cd14',
        	success:function(data){
        		var items = data.data;
        		for(var i=0;i<items.length;i++){
        			constructor(items[i]);
        		}
        	},
        	error:function(error){
        		console.log(error);
        	}
    	});
    	feed.run();
	});
	</script>